{% extends "base.html" %}

{% block title %}Delete Confirm{% endblock %}

{% block content %}
<div class="delete-box">
    <div class="alert alert-danger alert-title">
        <i class="fas fa-exclamation-triangle"></i>
        <div>
            <h2>Dangerous Operation Warning!</h2>
            <p>You are trying to delete <strong>{{ type }}</strong>: <strong>{{ item_name }}</strong>.</p>
        </div>
    </div>

    
    
    {% if books or authors %}
    <p class="alert-content">
        Due to system data linkage restrictions, deleting this {{ type }} will automatically delete the following books and authors:
    </p>
    {% if books %}
    <h3>
        <i class="fas fa-book-dead"></i> These books will be deleted automatically: {{ books|length }} books.
    </h3>
    <div class="alert-2nd-title">
        <ul>
            {% for book in books %}
            <li><strong>"{{ book.title }}"</strong></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if authors %}
    <h3>
        <i class="fas fa-user-xmark"></i> These authors will be deleted automatically: {{ authors|length }} authors.
    </h3>
    <div class="alert-2nd-title">
        <ul>
            {% for author in authors %}
            <li><strong>"{{ author.name }}"</strong></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% else %}
    <div class="alert-ok-cnt">
        <i class="fas fa-check-circle"></i> Safe: {{ item_name }} does not have any linked books or authors. You can delete it
        safely.
    </div>
    {% endif %}

    <form method="POST" style="display: flex; gap: 15px; justify-content: flex-end;">
        <a href="{{ cancel_url }}" class="btn btn-secondary">
            <i class="fas fa-undo"></i> Cancel
        </a>
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Confirm
        </button>
    </form>
</div>
{% endblock %}